@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=National+Park:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: Arial, sans-serif;
    background-color: rgb(235, 245, 255);
    color: #333;
}
header{
    display: flex;
    margin-left: 10%;
    font-family:"ubuntu" ;
    font-size: 1.35rem;
    font-style: italic;
    font-weight: 400;
}

h2 {
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.jar {
    width: 150px;
    height: 300px;
    border: 2px solid #3399ff;
    border-radius: 20px;
    position: relative;
    background-color: rgba(224, 240, 255 ,0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    overflow: hidden;
}

.jar label{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #3399ff;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#add1L{
    grid-column: 1/-1;
    margin: 0 20px 0 20px;
}

button:hover {
    background-color: #0077cc;
}